@import url(https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css);
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);


.blockTab  {
  margin: 10px;
  cursor: move;
}

.Block {
  margin: 10px;
}

.Board {
  width:100%;
  min-height: 600px;
  border: 2px solid black;
}

.SelectedBlock {
  border: 4px dotted rgb(54, 54, 198);
}


.code {
  font-family: -apple-system, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.demo {
  font-family: "Fira Code", monospace;
}

#wrapper{
  width:100%;
}

img#uploadimg {
  width: 300px;
}
