.App {
  text-align: center;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.blockTab  {
  margin: 10px;
  cursor: move;
}

.Block {
  margin: 10px;
}

.Board {
  width:100%;
  min-height: 600px;
  border: 2px solid black;
}

.Selsectedblock {
  border: 4px dotted rgb(54, 54, 198);
}